@model API_Camiones.Modelos.Amortizacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Amortizacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plazo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plazo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objetivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objetivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porcentaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recaudado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recaudado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAmortizacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
